.sliderContainer {
    width: 80vw;
    margin: 0 auto;
    display: flex;
}

.sliderImage {
    display: flex;
    position: relative;
    height: 20vw;
    width: 20vw;
}

.sliderBody {
    width: 60vw;
    display: flex;
    padding: 25px 25px;
    flex-direction: column;
    justify-content: space-between;
}